In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN'])

In [3]:
application_df["NAME"].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [7]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [8]:
#Creating more bins for rare occurrences in columns.
counts1 = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(counts1[counts1<5].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()

In [10]:
#  How many name counts are greater than 5?
name_counts[name_counts>5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [11]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

In [12]:
# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

In [13]:
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [14]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts
application_types_to_replace = list(application_counts[application_counts < 500].index)

In [15]:
# Replace in dataframe
for app in names_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

In [16]:
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [18]:
#Increasing or decreasing the number of values for each bin
counts1 = application_df['CLASSIFICATION'].value_counts()
application_types_to_replace = list(counts1[counts1<200].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(app,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [21]:
# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [22]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 2828

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 2,955
Trainable params: 2,955
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7431 - val_loss: 0.4548 - val_accuracy: 0.7857
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4506 - accuracy: 0.7853 - val_loss: 0.4410 - val_accuracy: 0.7924
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4382 - accuracy: 0.7882 - val_loss: 0.4367 - val_accuracy: 0.7937
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4336 - accuracy: 0.7922 - val_loss: 0.4381 - val_accuracy: 0.7924
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4320 - accuracy: 0.7930 - val_loss: 0.4376 - val_accuracy: 0.7945
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4304 - accuracy: 0.7929 - val_loss: 0.4390 - val_accuracy: 0.7942
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4299 - accuracy: 0.7922 - val_loss: 0.4392 - val_accuracy: 0.7924
Epoch 8/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4298 - accuracy: 0.7929 - val_loss: 0.4404 - val_accuracy: 0.7945
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4287 - accuracy: 0.7942 - val_loss: 0.4388 - val_accuracy: 0.7987
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7947 - val_loss: 0.4396 - val_accuracy: 0.7968
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7949 - val_loss: 0.4389 - val_accuracy: 0.7958
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4273 - accuracy: 0.7944 - val_loss: 0.4414 - val_accuracy: 0.7963
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4269 - accuracy: 0.7955 - val_loss: 0.4408 - val_accuracy: 0.7953
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4268 - accuracy: 0.7942 - val_loss: 0.4416 - val_accuracy: 0.7955
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7953 - val_loss: 0.4407 - val_accuracy: 0.7935
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4256 - accuracy: 0.7960 - val_loss: 0.4432 - val_accuracy: 0.7994
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7941 - val_loss: 0.4407 - val_accuracy: 0.7961
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4257 - accuracy: 0.7963 - val_loss: 0.4420 - val_accuracy: 0.7958
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4248 - accuracy: 0.7967 - val_loss: 0.4427 - val_accuracy: 0.7922
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4249 - accuracy: 0.7971 - val_loss: 0.4416 - val_accuracy: 0.7950
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4249 - accuracy: 0.7963 - val_loss: 0.4414 - val_accuracy: 0.7974
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7962 - val_loss: 0.4424 - val_accuracy: 0.7976
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.7958 - val_loss: 0.4440 - val_accuracy: 0.8015
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4241 - accuracy: 0.7974 - val_loss: 0.4431 - val_accuracy: 0.7958
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4240 - accuracy: 0.7969 - val_loss: 0.4432 - val_accuracy: 0.7976
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4236 - accuracy: 0.7968 - val_loss: 0.4440 - val_accuracy: 0.7958
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4236 - accuracy: 0.7972 - val_loss: 0.4416 - val_accuracy: 0.7976
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4234 - accuracy: 0.7975 - val_loss: 0.4414 - val_accuracy: 0.7953
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4228 - accuracy: 0.7979 - val_loss: 0.4415 - val_accuracy: 0.7968
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4231 - accuracy: 0.7973 - val_loss: 0.4407 - val_accuracy: 0.7984
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4228 - accuracy: 0.7976 - val_loss: 0.4423 - val_accuracy: 0.7976
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4226 - accuracy: 0.7978 - val_loss: 0.4419 - val_accuracy: 0.7961
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7983 - val_loss: 0.4413 - val_accuracy: 0.7981
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4222 - accuracy: 0.7979 - val_loss: 0.4446 - val_accuracy: 0.7966
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4222 - accuracy: 0.7984 - val_loss: 0.4432 - val_accuracy: 0.7989
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7977 - val_loss: 0.4419 - val_accuracy: 0.7968
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4219 - accuracy: 0.7981 - val_loss: 0.4418 - val_accuracy: 0.8002
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4216 - accuracy: 0.7989 - val_loss: 0.4426 - val_accuracy: 0.7958
Epoch 39/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4217 - accuracy: 0.7993 - val_loss: 0.4423 - val_accuracy: 0.7974
Epoch 40/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4213 - accuracy: 0.7982 - val_loss: 0.4447 - val_accuracy: 0.8002
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4216 - accuracy: 0.7984 - val_loss: 0.4424 - val_accuracy: 0.7987
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4211 - accuracy: 0.7989 - val_loss: 0.4439 - val_accuracy: 0.7963
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4213 - accuracy: 0.7990 - val_loss: 0.4429 - val_accuracy: 0.7997
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.7987 - val_loss: 0.4443 - val_accuracy: 0.8002
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4212 - accuracy: 0.7998 - val_loss: 0.4437 - val_accuracy: 0.7971
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4207 - accuracy: 0.7995 - val_loss: 0.4454 - val_accuracy: 0.7979
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4212 - accuracy: 0.7992 - val_loss: 0.4436 - val_accuracy: 0.7963
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4208 - accuracy: 0.7992 - val_loss: 0.4435 - val_accuracy: 0.7997
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4204 - accuracy: 0.8000 - val_loss: 0.4423 - val_accuracy: 0.7987
Epoch 50/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.8005 - val_loss: 0.4434 - val_accuracy: 0.7974
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.8005 - val_loss: 0.4429 - val_accuracy: 0.7992
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4200 - accuracy: 0.7987 - val_loss: 0.4431 - val_accuracy: 0.7976
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4202 - accuracy: 0.8006 - val_loss: 0.4419 - val_accuracy: 0.7979
Epoch 54/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4202 - accuracy: 0.8001 - val_loss: 0.4424 - val_accuracy: 0.7974
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4198 - accuracy: 0.8004 - val_loss: 0.4428 - val_accuracy: 0.7997
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4199 - accuracy: 0.7991 - val_loss: 0.4432 - val_accuracy: 0.7979
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4197 - accuracy: 0.7992 - val_loss: 0.4447 - val_accuracy: 0.7984
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7995 - val_loss: 0.4445 - val_accuracy: 0.7999
Epoch 59/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4196 - accuracy: 0.8002 - val_loss: 0.4463 - val_accuracy: 0.7987
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7993 - val_loss: 0.4450 - val_accuracy: 0.7999
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4197 - accuracy: 0.8003 - val_loss: 0.4451 - val_accuracy: 0.7976
Epoch 62/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4191 - accuracy: 0.7996 - val_loss: 0.4457 - val_accuracy: 0.7974
Epoch 63/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4192 - accuracy: 0.8004 - val_loss: 0.4454 - val_accuracy: 0.7971
Epoch 64/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4191 - accuracy: 0.8003 - val_loss: 0.4443 - val_accuracy: 0.7981
Epoch 65/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4188 - accuracy: 0.8005 - val_loss: 0.4442 - val_accuracy: 0.8018
Epoch 66/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4185 - accuracy: 0.7995 - val_loss: 0.4440 - val_accuracy: 0.7987
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4192 - accuracy: 0.8001 - val_loss: 0.4449 - val_accuracy: 0.7968
Epoch 68/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4187 - accuracy: 0.7990 - val_loss: 0.4466 - val_accuracy: 0.7961
Epoch 69/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4185 - accuracy: 0.8000 - val_loss: 0.4470 - val_accuracy: 0.7979
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.8002 - val_loss: 0.4463 - val_accuracy: 0.7963
Epoch 71/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4186 - accuracy: 0.8002 - val_loss: 0.4453 - val_accuracy: 0.7997
Epoch 72/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4185 - accuracy: 0.8003 - val_loss: 0.4464 - val_accuracy: 0.7994
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.8000 - val_loss: 0.4461 - val_accuracy: 0.7945
Epoch 74/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4186 - accuracy: 0.8006 - val_loss: 0.4460 - val_accuracy: 0.7979
Epoch 75/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4183 - accuracy: 0.8003 - val_loss: 0.4451 - val_accuracy: 0.8007
Epoch 76/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4186 - accuracy: 0.7998 - val_loss: 0.4467 - val_accuracy: 0.7984
Epoch 77/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4183 - accuracy: 0.8013 - val_loss: 0.4455 - val_accuracy: 0.7961
Epoch 78/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4183 - accuracy: 0.8009 - val_loss: 0.4458 - val_accuracy: 0.7989
Epoch 79/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4182 - accuracy: 0.8004 - val_loss: 0.4464 - val_accuracy: 0.7961
Epoch 80/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4177 - accuracy: 0.8002 - val_loss: 0.4440 - val_accuracy: 0.8031
Epoch 81/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4165 - accuracy: 0.8010 - val_loss: 0.4446 - val_accuracy: 0.7997
Epoch 82/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4169 - accuracy: 0.8013 - val_loss: 0.4435 - val_accuracy: 0.7976
Epoch 83/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4169 - accuracy: 0.8012 - val_loss: 0.4442 - val_accuracy: 0.8033
Epoch 84/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4168 - accuracy: 0.8016 - val_loss: 0.4442 - val_accuracy: 0.8020
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4166 - accuracy: 0.8020 - val_loss: 0.4440 - val_accuracy: 0.7979
Epoch 86/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4164 - accuracy: 0.8021 - val_loss: 0.4458 - val_accuracy: 0.7997
Epoch 87/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4164 - accuracy: 0.8021 - val_loss: 0.4455 - val_accuracy: 0.7987
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4163 - accuracy: 0.8020 - val_loss: 0.4435 - val_accuracy: 0.7971
Epoch 89/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4162 - accuracy: 0.8008 - val_loss: 0.4440 - val_accuracy: 0.7994
Epoch 90/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.8009 - val_loss: 0.4447 - val_accuracy: 0.7999
Epoch 91/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.8021 - val_loss: 0.4447 - val_accuracy: 0.7984
Epoch 92/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4162 - accuracy: 0.8006 - val_loss: 0.4441 - val_accuracy: 0.7989
Epoch 93/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4161 - accuracy: 0.8020 - val_loss: 0.4456 - val_accuracy: 0.7997
Epoch 94/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4160 - accuracy: 0.8019 - val_loss: 0.4445 - val_accuracy: 0.7958
Epoch 95/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4160 - accuracy: 0.8015 - val_loss: 0.4471 - val_accuracy: 0.7976
Epoch 96/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4158 - accuracy: 0.8017 - val_loss: 0.4471 - val_accuracy: 0.7971
Epoch 97/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4157 - accuracy: 0.8016 - val_loss: 0.4459 - val_accuracy: 0.7966
Epoch 98/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4159 - accuracy: 0.8029 - val_loss: 0.4460 - val_accuracy: 0.7976
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4158 - accuracy: 0.8014 - val_loss: 0.4481 - val_accuracy: 0.7974
Epoch 100/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4158 - accuracy: 0.8027 - val_loss: 0.4484 - val_accuracy: 0.7958

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4659 - accuracy: 0.7852 - 595ms/epoch - 2ms/step
Loss: 0.46594470739364624, Accuracy: 0.7851895093917847

In [30]:
# Export our model to HDF5 file

nn.save("AlphabetSoupCharity_Optimzation.h5")